{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="card mb-4 border-1 nth-shadow">
    <div class="card-body">
        <div class="card-title nth-card-title">
            <h3>Создание репозитория</h3>
        </div>
        <!-- Прелоадер (скрыт по умолчанию) -->
        <div id="loader" style="display:none; text-align:center;">
            <p>Загрузка... Пожалуйста, подождите.</p>
        </div>
        <form id="repo-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if error %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}
            <div class="d-grid gap-3 d-md-block mt-2">
                <!-- Временно btn-primary -->
                <button type="button" id="submit-btn" class="btn btn-primary ntb-dark">Создать Репозиторий</button> <!-- Временно btn-primary -->
            </div>
        </form>
    </div>
</div>

<!-- JavaScript для управления прелоадером, отправкой формы и видимостью полей CI -->
<script>
    // Управление видимостью полей CI
    document.addEventListener('DOMContentLoaded', function() {
        const enableCiCheckbox = document.getElementById('enable_ci');
        const pythonVersionField = document.getElementById('python_version').closest('p');
        const testCommandField = document.getElementById('test_command').closest('p');

        // Скрыть поля CI по умолчанию
        pythonVersionField.style.display = 'none';
        testCommandField.style.display = 'none';

        // Обработчик изменения состояния флажка
        enableCiCheckbox.addEventListener('change', function() {
            if (this.checked) {
                pythonVersionField.style.display = 'block';
                testCommandField.style.display = 'block';
            } else {
                pythonVersionField.style.display = 'none';
                testCommandField.style.display = 'none';
            }
        });
    });

    // Управление прелоадером и отправкой формы
    document.getElementById('submit-btn').addEventListener('click', function() {
        document.getElementById('loader').style.display = 'block';
        document.getElementById('repo-form').style.display = 'none';
        setTimeout(function() {
            document.getElementById('repo-form').submit();
        }, 100); // 100 мс задержки
    });
</script>
{% endblock %}